@font-face {
  font-family: 'Great Vibes';
  src: url('assets/scss/fonts/great_vibes/great_vibes.eot?#iefix') format('eot'),
    url('assets/scss/fonts/great_vibes/great_vibes.otf') format('otf'),
    url('assets/scss/fonts/great_vibes/great_vibes.svg') format('svg'),
    url('assets/scss/fonts/great_vibes/great_vibes.ttf') format('ttf'),
    url('assets/scss/fonts/great_vibes/great_vibes.woff2') format('woff2'),
    url('assets/scss/fonts/great_vibes/great_vibes.woff') format('woff');
}

@mixin great-vibes() {
  font-family: 'Great Vibes', Georgia, serif;
}
