@import '~/assets/scss/colors.scss', '~/assets/scss/fonts.scss',
  '~/assets/scss/space.scss', '~/assets/scss/mixins.scss';

body {
  @extend .green-bg;

  h1,
  h2 {
    @include great-vibes();
  }

  h1 {
    font-size: $space-l;
    margin-bottom: $space-l;
    margin-top: $space-l;
    text-align: center;
  }

  h2 {
    font-size: $space-m;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  strong,
  b {
    font-weight: normal;
  }

  p {
    text-indent: $space-m;
  }

  .hidden {
    display: none;
  }
}
