@mixin circle($size) {
  width: $size + px;
  height: $size + px;
  border-radius: $size + px;
}

/* COMPATIBILITY WITH OLD NAVIGATORS */

/* FLEXBOX SECTION */

@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin align-items($where) {
  -webkit-box-align: $where;
  -webkit-align-items: $where;
  -ms-flex-align: $where;
  align-items: $where;
}

@mixin justify-content($where) {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: $where;
}
