<template>
  <b-navbar class="green-bg" fixed="top" toggleable="lg" type="dark">
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item
          v-for="(link, index) in links"
          :key="index"
          :to="link.href"
          :disabled="link.href === currentPath"
          @click="handleClick"
        >
          {{ link.text }}
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
const links = [
  {
    text: 'Qui sommes nous?',
    href: '/',
  },
  {
    text: 'contacts',
    href: '/contacts',
  },
];
// @todo: find a way to display doc
/** @see https://vue-styleguidist.github.io/docs/Cookbook.html#use-vue-styleguidist-with-components-that-contain-routing */
export default {
  name: 'NavBar',
  data() {
    return {
      title: 'Les paniers bio de Carrières',
      links,
      currentPath: this.$route.path,
    };
  },
  methods: {
    handleClick() {
      this.currentPath = this.$route.path;
    },
  },
};
</script>

<style lang="scss">
.navbar-dark .navbar-nav .nav-link {
  color: black;
  text-transform: uppercase;

  &.disabled {
    color: black;
    font-weight: bold;
  }
}
.navbar.navbar-dark {
  flex-wrap: nowrap;
  align-items: baseline;
}
</style>
