<template>
  <b-form v-if="!messageSended" @submit="onSubmit">
    <b-input-group prepend="@" class="mb-2 mr-sm-2 mb-sm-0">
      <b-form-input
        id="email"
        v-model="form.email"
        type="email"
        placeholder="Votre email"
        required
      />
    </b-input-group>
    <b-form-input
      id="subject"
      v-model="form.subject"
      placeholder="Sujet"
      required
    ></b-form-input>
    <b-form-textarea
      id="text"
      v-model="form.text"
      placeholder="Votre message"
      rows="3"
      max-rows="6"
      required
    ></b-form-textarea>
    <b-button
      :disabled="disableSubmition"
      type="submit"
      variant="success"
      class="btn-block"
      >Envoyer votre message</b-button
    >
  </b-form>
  <p v-else @click="onSubmit">Message envoyé!</p>
</template>

<script>
import axios from 'axios';

export default {
  name: 'FormContact',
  data() {
    return {
      form: {
        email: null,
        subject: null,
        text: null,
      },
      messageSended: null,
      disableSubmition: null,
      formError: null,
    };
  },
  methods: {
    async onSubmit(ev) {
      ev.preventDefault();
      this.disableSubmition = true;
      this.formError = false;
      await axios
        .post('/api/contact', this.form)
        .then(() => {
          this.messageSended = true;
        })
        .catch(err => {
          console.error(err);
          this.formError =
            "Oups, une erreur s'est produite. Veuillez recommencer.";
        })
        .finally(() => {
          this.disableSubmition = false;
        });
    },
  },
};
</script>

<style lang="scss">
#email,
.input-group-prepend,
#subject,
#text {
  margin-bottom: $space-s;
}
</style>
