<template>
  <GMap
    ref="gMap"
    language="en"
    :center="{ lat: locations[0].lat, lng: locations[0].lng }"
    :zoom="16"
  >
    <GMapMarker
      v-for="location in locations"
      :key="location.id"
      :position="{ lat: location.lat, lng: location.lng }"
      :options="{
        icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
      }"
    />
  </GMap>
</template>

<script>
// @todo: find a way to display doc
export default {
  name: 'GoogleMap',
  data() {
    return {
      locations: [
        {
          lat: 48.94788680764013,
          lng: 2.0400725190134206,
        },
      ],
    };
  },
};
</script>
