<template>
  <b-container fluid>
    <header>
      <NavBar />
    </header>
    <Nuxt />
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'DefaultLayout',
});
</script>

<style lang="scss" scoped>
.container-fluid {
  padding-top: 50px;
}
</style>
