<template>
  <b-row>
    <b-col md="6">
      <h1>Où sommes-nous?</h1>
      <p>
        Vous pouvez nous retrouver tous les vendredi de 18H30 à 19H30 à notre
        locale:
        <span class="font-weight-bold"
          >573 Grande Rue, 78955 Carrieres sous Poissy</span
        >
      </p>
      <b-button block variant="success" @click="setShowMap"
        >{{ showMap ? 'Fermer' : 'Afficher' }} la carte</b-button
      >
      <GoogleMap v-if="showMap" id="g-map" />
    </b-col>
    <b-col md="6">
      <h1>Par e-mail</h1>
      <p>
        Pour toute demande d'information, vous pouvez
        <a
          href="mailto:lespaniersbio@gmail.com?subject=Demande%20d%27information"
        >
          nous contacter par mail: lespaniersbio@gmail.com </a
        >.
      </p>
      <h1>Ou poser votre question</h1>
      <FormContact />
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: 'ContactsPage',
  data() {
    return { showMap: false };
  },
  methods: {
    setShowMap() {
      this.showMap = !this.showMap;
    },
  },
});
</script>

<style lang="scss">
button[type='button'].btn {
  margin-bottom: $space-l;
}
</style>
