<template>
  <b-row>
    <b-col md="6">
      <h1>Qui sommes-nous?</h1>
      <p>
        Nous sommes une <strong>AMAP</strong>, une association à but non
        lucratif qui propose à ses membres des
        <strong
          >aliments frais, de saison, bio et produits dans des fermes de la
          région </strong
        >.
      </p>
      <p>
        Pour nos adhérents et nos producteurs, c'est un <b>prix équitable</b>.
        C'est un <b>liens direct</b>, sans intermédiaire, entre nos agriculteurs
        partenaires et le consommateur.
      </p>
      <p>
        Nous avons pour but favoriser un <b>dialogue sociale</b> autour de
        l'alimentaire et du goût, <b>agir pour l’emploi</b> en favorisant le
        <b>commerce régional</b> et contribuer à
        <b>réduire la consommation énergétique</b> en proposant des légumes
        produits à côté de chez soi.
      </p>
    </b-col>
    <b-col md="6">
      <h1>Notre équipe</h1>
      <figure>
        <b-img
          fluid-grow
          thumbnail
          src="~/assets/img/notre-equipe.jpg"
          alt="Notre équipe"
        />
        <figcaption class="figure-caption">
          Marie, Laura, Benjamin, Marie, Laura, Benjamin, Marie, Laura,
          Benjamin.
        </figcaption>
      </figure>
    </b-col>
  </b-row>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'IndexPage',
});
</script>
